In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import LogisticRegression
import pickle

In [17]:
df = pd.read_csv('train.csv')
df["Dates"] = pd.to_datetime(df["Dates"], format="%Y-%m-%d %H:%M:%S")
df["Hour"] = df["Dates"].map(lambda x: x.hour)
df["Month"] = df["Dates"].map(lambda x: x.month)
df["Year"] = df["Dates"].map(lambda x: x.year)
df.drop("Address", axis=1, inplace=True)
df.drop("Descript", axis=1, inplace=True)
df.drop("Resolution", axis=1, inplace=True)
df.drop("Dates", axis=1, inplace=True)
df.drop("X", axis=1, inplace=True)
df.drop("Y", axis=1, inplace=True)
df

                      Category  DayOfWeek PdDistrict  Hour  Month  Year
0                     WARRANTS  Wednesday   NORTHERN    23      5  2015
1               OTHER OFFENSES  Wednesday   NORTHERN    23      5  2015
2               OTHER OFFENSES  Wednesday   NORTHERN    23      5  2015
3                LARCENY/THEFT  Wednesday   NORTHERN    23      5  2015
4                LARCENY/THEFT  Wednesday       PARK    23      5  2015
...                        ...        ...        ...   ...    ...   ...
878044                 ROBBERY     Monday    TARAVAL     0      1  2003
878045           LARCENY/THEFT     Monday  INGLESIDE     0      1  2003
878046           LARCENY/THEFT     Monday   SOUTHERN     0      1  2003
878047               VANDALISM     Monday   SOUTHERN     0      1  2003
878048  FORGERY/COUNTERFEITING     Monday    BAYVIEW     0      1  2003

[878049 rows x 6 columns]

In [18]:
df.isnull().sum()

Category      0
DayOfWeek     0
PdDistrict    0
Hour          0
Month         0
Year          0
dtype: int64

In [19]:
def encode_labels(dfx):
    factor = pd.factorize(dfx['Category'])
    return factor

factor = encode_labels(df)
Ytrain = factor[0]
labels= list(factor[1])
labels

['WARRANTS',
 'OTHER OFFENSES',
 'LARCENY/THEFT',
 'VEHICLE THEFT',
 'VANDALISM',
 'NON-CRIMINAL',
 'ROBBERY',
 'ASSAULT',
 'WEAPON LAWS',
 'BURGLARY',
 'SUSPICIOUS OCC',
 'DRUNKENNESS',
 'FORGERY/COUNTERFEITING',
 'DRUG/NARCOTIC',
 'STOLEN PROPERTY',
 'SECONDARY CODES',
 'TRESPASS',
 'MISSING PERSON',
 'FRAUD',
 'KIDNAPPING',
 'RUNAWAY',
 'DRIVING UNDER THE INFLUENCE',
 'SEX OFFENSES FORCIBLE',
 'PROSTITUTION',
 'DISORDERLY CONDUCT',
 'ARSON',
 'FAMILY OFFENSES',
 'LIQUOR LAWS',
 'BRIBERY',
 'EMBEZZLEMENT',
 'SUICIDE',
 'LOITERING',
 'SEX OFFENSES NON FORCIBLE',
 'EXTORTION',
 'GAMBLING',
 'BAD CHECKS',
 'TREA',
 'RECOVERED VEHICLE',
 'PORNOGRAPHY/OBSCENE MAT']

In [20]:
df.Category = list(factor[0])
df

        Category  DayOfWeek PdDistrict  Hour  Month  Year
0              0  Wednesday   NORTHERN    23      5  2015
1              1  Wednesday   NORTHERN    23      5  2015
2              1  Wednesday   NORTHERN    23      5  2015
3              2  Wednesday   NORTHERN    23      5  2015
4              2  Wednesday       PARK    23      5  2015
...          ...        ...        ...   ...    ...   ...
878044         6     Monday    TARAVAL     0      1  2003
878045         2     Monday  INGLESIDE     0      1  2003
878046         2     Monday   SOUTHERN     0      1  2003
878047         4     Monday   SOUTHERN     0      1  2003
878048        12     Monday    BAYVIEW     0      1  2003

[878049 rows x 6 columns]

In [21]:
Xtrain = pd.get_dummies(df[['DayOfWeek', 'PdDistrict']])
Xtrain

,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878044,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
878045,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
878046,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
878047,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
878048,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [22]:
Xtrain = Xtrain.join(df.Hour).join(df.Month).join(df.Year)
Xtrain.columns

Index(['DayOfWeek_Friday', 'DayOfWeek_Monday', 'DayOfWeek_Saturday',
       'DayOfWeek_Sunday', 'DayOfWeek_Thursday', 'DayOfWeek_Tuesday',
       'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL',
       'PdDistrict_INGLESIDE', 'PdDistrict_MISSION', 'PdDistrict_NORTHERN',
       'PdDistrict_PARK', 'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN',
       'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN', 'Hour', 'Month', 'Year'],
      dtype='object')

In [23]:
x_train, x_test, y_train, y_test = train_test_split(Xtrain, Ytrain, test_size=0.33, random_state=42)

x_train, x_test, y_train, y_test

(        DayOfWeek_Friday  DayOfWeek_Monday  DayOfWeek_Saturday  \
 617510                 0                 0                   0
 451491                 0                 0                   0
 354809                 0                 0                   0
 329161                 1                 0                   0
 798989                 0                 0                   1
 ...                  ...               ...                 ...
 259178                 0                 1                   0
 365838                 1                 0                   0
 131932                 0                 0                   1
 671155                 1                 0                   0
 121958                 0                 1                   0

         DayOfWeek_Sunday  DayOfWeek_Thursday  DayOfWeek_Tuesday  \
 617510                 0                   1                  0
 451491                 0                   0                  1
 354809                 1                   0                  0
 329161                 0                   0                  0
 798989                 0                   0                  0
 ...                  ...                 ...                ...
 259178                 0                   0                  0
 365838                 0                   0                  0
 131932                 0                   0                  0
 671155                 0                   0                  0
 121958                 0                   0                  0

         DayOfWeek_Wednesday  PdDistrict_BAYVIEW  PdDistrict_CENTRAL  \
 617510                    0                   0                   0
 451491                    0                   0                   0
 354809                    0                   0                   0
 329161                    0                   0                   0
 798989                    0                   0                   0
 ...                     ...                 ...                 ...
 259178                    0                   0                   0
 365838                    0                   0                   0
 131932                    0                   0                   0
 671155                    0                   1                   0
 121958                    0                   0                   0

         PdDistrict_INGLESIDE  PdDistrict_MISSION  PdDistrict_NORTHERN  \
 617510                     1                   0                    0
 451491                     0                   0                    0
 354809                     0                   1                    0
 329161                     0                   0                    0
 798989                     0                   0                    0
 ...                      ...                 ...                  ...
 259178                     0                   0                    0
 365838                     0                   0                    0
 131932                     0                   1                    0
 671155                     0                   0                    0
 121958                     0                   0                    0

         PdDistrict_PARK  PdDistrict_RICHMOND  PdDistrict_SOUTHERN  \
 617510                0                    0                    0
 451491                0                    0                    1
 354809                0                    0                    0
 329161                0                    0                    0
 798989                0                    0                    1
 ...                 ...                  ...                  ...
 259178                0                    0                    0
 365838                0                    0                    1
 131932                0                    0                    0
 671155                0                    0                    0
 121958                0                    0                    1

         PdDistrict_TARAVAL  PdDistrict_TENDERLOIN  Hour  Month  Year
 617510                   0                      0     0      8  2006
 451491                   0                      0     0      1  2009
 354809                   0                      0    18      6  2010
 329161                   1                      0    19     10  2010
 798989                   0                      0     8      1  2004
 ...                    ...                    ...   ...    ...   ...
 259178                   0                      1    17     11  2011
 365838                   0                      0    22      4  2010
 131932                   0                      0    22      8  2013
 671155                   0                      0     5     11  2005
 121958                   0                      0    12      9  2013

 [588292 rows x 20 columns],
         DayOfWeek_Friday  DayOfWeek_Monday  DayOfWeek_Saturday  \
 349598                 0                 0                   0
 766313                 0                 0                   1
 169887                 0                 0                   1
 594704                 0                 0                   0
 47900                  0                 0                   0
 ...                  ...               ...                 ...
 705072                 0                 0                   0
 61494                  0                 0                   0
 472329                 0                 0                   0
 41703                  0                 0                   0
 788923                 0                 0                   0

         DayOfWeek_Sunday  DayOfWeek_Thursday  DayOfWeek_Tuesday  \
 349598                 1                   0                  0
 766313                 0                   0                  0
 169887                 0                   0                  0
 594704                 1                   0                  0
 47900                  1                   0                  0
 ...                  ...                 ...                ...
 705072                 0                   0                  0
 61494                  0                   0                  0
 472329                 0                   1                  0
 41703                  1                   0                  0
 788923                 0                   0                  1

         DayOfWeek_Wednesday  PdDistrict_BAYVIEW  PdDistrict_CENTRAL  \
 349598                    0                   0                   0
 766313                    0                   0                   0
 169887                    0                   0                   0
 594704                    0                   0                   0
 47900                     0                   0                   0
 ...                     ...                 ...                 ...
 705072                    1                   0                   0
 61494                     1                   0                   0
 472329                    0                   0                   0
 41703                     0                   0                   0
 788923                    0                   0                   0

         PdDistrict_INGLESIDE  PdDistrict_MISSION  PdDistrict_NORTHERN  \
 349598                     0                   0                    0
 766313                     0                   0                    0
 169887                     0                   0                    0
 594704                     0                   0                    1
 47900                      0                   0                    0
 ...                      ...                 ...                  ...
 705072                     0                   0                    0
 61494                      0                   0                    0
 472329                     0                   0                    0
 41703                      1                   0                    0
 788923                     1                   0                    0

         PdDistrict_PARK  PdDistrict_RICHMOND  PdDistrict_SOUTHERN  \
 349598                0                    0                    0
 766313                1                    0                    0
 169887                0                    0                    1
 594704                0                    0                    0
 47900                 1                    0                    0
 ...                 ...                  ...                  ...
 705072                0                    0                    0
 61494                 0                    0                    0
 472329                0                    1                    0
 41703                 0                    0                    0
 788923                0                    0                    0

         PdDistrict_TARAVAL  PdDistrict_TENDERLOIN  Hour  Month  Year
 349598                   0                      1    23      7  2010
 766313                   0                      0    22      6  2004
 169887                   0                      0    21      2  2013
 594704                   0                      0    22     12  2006
 47900                    0                      0     8      9  2014
 ...                    ...                    ...   ...    ...   ...
 705072                   1                      0    11      5  2005
 61494                    0                      1    11      7  2014
 472329                   0                      0    14      9  2008
 41703                    0                      0    17     10  2014
 788923                   0                      0    12      3  2004

 [289757 rows x 20 columns],
 array([5, 5, 1, ..., 2, 1, 2], dtype=int64),
 array([ 2,  7,  1, ..., 10,  9,  9], dtype=int64))

In [24]:
rf = RandomForestClassifier(n_estimators=200, random_state=0, max_features=4)
rf.fit(x_train,y_train)
p_tr = rf.predict(Xtrain)
print("Score train -- ", round(rf.score(x_train, y_train) * 100, 2), " %")

Score train --  48.7  %

In [25]:
p_test = rf.predict(x_test)
print("Score test -- ", round(rf.score(x_test, y_test) * 100, 2), " %")

Score test --  17.68  %

In [26]:
filename = 'finalized_model.sav'
pickle.dump(rf, open(filename, 'wb'))

In [27]:
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(x_test, y_test)
# print(result)

In [28]:
loaded_model.feature_importances_

array([0.00527203, 0.00545508, 0.00459821, 0.00429214, 0.00532755,
       0.00522476, 0.00491151, 0.00315617, 0.00305637, 0.00244078,
       0.00216694, 0.00237244, 0.00127233, 0.00129014, 0.0030288 ,
       0.00144762, 0.00793706, 0.33601726, 0.37489197, 0.22584084])

In [53]:
predictions = loaded_model.predict([[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 8, 2004]])
factor[1][predictions[0]]

c:\Users\trist\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'LOITERING'

In [ ]:
lr = LogisticRegression(random_state = 0,solver = 'liblinear', multi_class = 'auto')