In [29]:
import pandas as pd
import numpy as np
import folium
from folium import plugins
from folium.plugins import MarkerCluster
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle

In [17]:
df = pd.read_csv('train.csv')
df["Dates"] = pd.to_datetime(df["Dates"], format="%Y-%m-%d %H:%M:%S")
df["Hour"] = df["Dates"].map(lambda x: x.hour)
df["Month"] = df["Dates"].map(lambda x: x.month)
df["Year"] = df["Dates"].map(lambda x: x.year)
df.drop("Address", axis=1, inplace=True)
df.drop("Descript", axis=1, inplace=True)
df.drop("Resolution", axis=1, inplace=True)
df.drop("Dates", axis=1, inplace=True)
df.drop("X", axis=1, inplace=True)
df.drop("Y", axis=1, inplace=True)
df

                      Category  DayOfWeek PdDistrict  Hour  Month  Year
0                     WARRANTS  Wednesday   NORTHERN    23      5  2015
1               OTHER OFFENSES  Wednesday   NORTHERN    23      5  2015
2               OTHER OFFENSES  Wednesday   NORTHERN    23      5  2015
3                LARCENY/THEFT  Wednesday   NORTHERN    23      5  2015
4                LARCENY/THEFT  Wednesday       PARK    23      5  2015
...                        ...        ...        ...   ...    ...   ...
878044                 ROBBERY     Monday    TARAVAL     0      1  2003
878045           LARCENY/THEFT     Monday  INGLESIDE     0      1  2003
878046           LARCENY/THEFT     Monday   SOUTHERN     0      1  2003
878047               VANDALISM     Monday   SOUTHERN     0      1  2003
878048  FORGERY/COUNTERFEITING     Monday    BAYVIEW     0      1  2003

[878049 rows x 6 columns]

In [18]:
df.isnull().sum()

Category      0
DayOfWeek     0
PdDistrict    0
Hour          0
Month         0
Year          0
dtype: int64

In [19]:
def encode_labels(dfx):
    factor = pd.factorize(dfx['Category'])
    return factor

factor = encode_labels(df)
Ytrain = factor[0]
labels= list(factor[1])
labels

['WARRANTS',
 'OTHER OFFENSES',
 'LARCENY/THEFT',
 'VEHICLE THEFT',
 'VANDALISM',
 'NON-CRIMINAL',
 'ROBBERY',
 'ASSAULT',
 'WEAPON LAWS',
 'BURGLARY',
 'SUSPICIOUS OCC',
 'DRUNKENNESS',
 'FORGERY/COUNTERFEITING',
 'DRUG/NARCOTIC',
 'STOLEN PROPERTY',
 'SECONDARY CODES',
 'TRESPASS',
 'MISSING PERSON',
 'FRAUD',
 'KIDNAPPING',
 'RUNAWAY',
 'DRIVING UNDER THE INFLUENCE',
 'SEX OFFENSES FORCIBLE',
 'PROSTITUTION',
 'DISORDERLY CONDUCT',
 'ARSON',
 'FAMILY OFFENSES',
 'LIQUOR LAWS',
 'BRIBERY',
 'EMBEZZLEMENT',
 'SUICIDE',
 'LOITERING',
 'SEX OFFENSES NON FORCIBLE',
 'EXTORTION',
 'GAMBLING',
 'BAD CHECKS',
 'TREA',
 'RECOVERED VEHICLE',
 'PORNOGRAPHY/OBSCENE MAT']

In [20]:
df.Category = list(factor[0])
df

        Category  DayOfWeek PdDistrict  Hour  Month  Year
0              0  Wednesday   NORTHERN    23      5  2015
1              1  Wednesday   NORTHERN    23      5  2015
2              1  Wednesday   NORTHERN    23      5  2015
3              2  Wednesday   NORTHERN    23      5  2015
4              2  Wednesday       PARK    23      5  2015
...          ...        ...        ...   ...    ...   ...
878044         6     Monday    TARAVAL     0      1  2003
878045         2     Monday  INGLESIDE     0      1  2003
878046         2     Monday   SOUTHERN     0      1  2003
878047         4     Monday   SOUTHERN     0      1  2003
878048        12     Monday    BAYVIEW     0      1  2003

[878049 rows x 6 columns]

In [21]:
Xtrain = pd.get_dummies(df[['DayOfWeek', 'PdDistrict']])
Xtrain

,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878044,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
878045,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
878046,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
878047,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
878048,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [23]:
Xtrain = Xtrain.join(df.Hour).join(df.Month).join(df.Year).join(df.Category)
Xtrain.columns

Index(['DayOfWeek_Friday', 'DayOfWeek_Monday', 'DayOfWeek_Saturday',
       'DayOfWeek_Sunday', 'DayOfWeek_Thursday', 'DayOfWeek_Tuesday',
       'DayOfWeek_Wednesday', 'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL',
       'PdDistrict_INGLESIDE', 'PdDistrict_MISSION', 'PdDistrict_NORTHERN',
       'PdDistrict_PARK', 'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN',
       'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN', 'Hour', 'Month', 'Year',
       'Category'],
      dtype='object')

In [24]:
x_train, x_test, y_train, y_test = train_test_split(Xtrain, Ytrain, test_size=0.33, random_state=42)

x_train, x_test, y_train, y_test

(        DayOfWeek_Friday  DayOfWeek_Monday  DayOfWeek_Saturday  \
 617510                 0                 0                   0
 451491                 0                 0                   0
 354809                 0                 0                   0
 329161                 1                 0                   0
 798989                 0                 0                   1
 ...                  ...               ...                 ...
 259178                 0                 1                   0
 365838                 1                 0                   0
 131932                 0                 0                   1
 671155                 1                 0                   0
 121958                 0                 1                   0

         DayOfWeek_Sunday  DayOfWeek_Thursday  DayOfWeek_Tuesday  \
 617510                 0                   1                  0
 451491                 0                   0                  1
 354809                 1                   0                  0
 329161                 0                   0                  0
 798989                 0                   0                  0
 ...                  ...                 ...                ...
 259178                 0                   0                  0
 365838                 0                   0                  0
 131932                 0                   0                  0
 671155                 0                   0                  0
 121958                 0                   0                  0

         DayOfWeek_Wednesday  PdDistrict_BAYVIEW  PdDistrict_CENTRAL  \
 617510                    0                   0                   0
 451491                    0                   0                   0
 354809                    0                   0                   0
 329161                    0                   0                   0
 798989                    0                   0                   0
 ...                     ...                 ...                 ...
 259178                    0                   0                   0
 365838                    0                   0                   0
 131932                    0                   0                   0
 671155                    0                   1                   0
 121958                    0                   0                   0

         PdDistrict_INGLESIDE  ...  PdDistrict_NORTHERN  PdDistrict_PARK  \
 617510                     1  ...                    0                0
 451491                     0  ...                    0                0
 354809                     0  ...                    0                0
 329161                     0  ...                    0                0
 798989                     0  ...                    0                0
 ...                      ...  ...                  ...              ...
 259178                     0  ...                    0                0
 365838                     0  ...                    0                0
 131932                     0  ...                    0                0
 671155                     0  ...                    0                0
 121958                     0  ...                    0                0

         PdDistrict_RICHMOND  PdDistrict_SOUTHERN  PdDistrict_TARAVAL  \
 617510                    0                    0                   0
 451491                    0                    1                   0
 354809                    0                    0                   0
 329161                    0                    0                   1
 798989                    0                    1                   0
 ...                     ...                  ...                 ...
 259178                    0                    0                   0
 365838                    0                    1                   0
 131932                    0                    0                   0
 671155                    0                    0                   0
 121958                    0                    1                   0

         PdDistrict_TENDERLOIN  Hour  Month  Year  Category
 617510                      0     0      8  2006         5
 451491                      0     0      1  2009         5
 354809                      0    18      6  2010         1
 329161                      0    19     10  2010         2
 798989                      0     8      1  2004         2
 ...                       ...   ...    ...   ...       ...
 259178                      1    17     11  2011         2
 365838                      0    22      4  2010        15
 131932                      0    22      8  2013         2
 671155                      0     5     11  2005         1
 121958                      0    12      9  2013         2

 [588292 rows x 21 columns],
         DayOfWeek_Friday  DayOfWeek_Monday  DayOfWeek_Saturday  \
 349598                 0                 0                   0
 766313                 0                 0                   1
 169887                 0                 0                   1
 594704                 0                 0                   0
 47900                  0                 0                   0
 ...                  ...               ...                 ...
 705072                 0                 0                   0
 61494                  0                 0                   0
 472329                 0                 0                   0
 41703                  0                 0                   0
 788923                 0                 0                   0

         DayOfWeek_Sunday  DayOfWeek_Thursday  DayOfWeek_Tuesday  \
 349598                 1                   0                  0
 766313                 0                   0                  0
 169887                 0                   0                  0
 594704                 1                   0                  0
 47900                  1                   0                  0
 ...                  ...                 ...                ...
 705072                 0                   0                  0
 61494                  0                   0                  0
 472329                 0                   1                  0
 41703                  1                   0                  0
 788923                 0                   0                  1

         DayOfWeek_Wednesday  PdDistrict_BAYVIEW  PdDistrict_CENTRAL  \
 349598                    0                   0                   0
 766313                    0                   0                   0
 169887                    0                   0                   0
 594704                    0                   0                   0
 47900                     0                   0                   0
 ...                     ...                 ...                 ...
 705072                    1                   0                   0
 61494                     1                   0                   0
 472329                    0                   0                   0
 41703                     0                   0                   0
 788923                    0                   0                   0

         PdDistrict_INGLESIDE  ...  PdDistrict_NORTHERN  PdDistrict_PARK  \
 349598                     0  ...                    0                0
 766313                     0  ...                    0                1
 169887                     0  ...                    0                0
 594704                     0  ...                    1                0
 47900                      0  ...                    0                1
 ...                      ...  ...                  ...              ...
 705072                     0  ...                    0                0
 61494                      0  ...                    0                0
 472329                     0  ...                    0                0
 41703                      1  ...                    0                0
 788923                     1  ...                    0                0

         PdDistrict_RICHMOND  PdDistrict_SOUTHERN  PdDistrict_TARAVAL  \
 349598                    0                    0                   0
 766313                    0                    0                   0
 169887                    0                    1                   0
 594704                    0                    0                   0
 47900                     0                    0                   0
 ...                     ...                  ...                 ...
 705072                    0                    0                   1
 61494                     0                    0                   0
 472329                    1                    0                   0
 41703                     0                    0                   0
 788923                    0                    0                   0

         PdDistrict_TENDERLOIN  Hour  Month  Year  Category
 349598                      1    23      7  2010         2
 766313                      0    22      6  2004         7
 169887                      0    21      2  2013         1
 594704                      0    22     12  2006         8
 47900                       0     8      9  2014         2
 ...                       ...   ...    ...   ...       ...
 705072                      0    11      5  2005         1
 61494                       1    11      7  2014         2
 472329                      0    14      9  2008        10
 41703                       0    17     10  2014         9
 788923                      0    12      3  2004         9

 [289757 rows x 21 columns],
 array([5, 5, 1, ..., 2, 1, 2], dtype=int64),
 array([ 2,  7,  1, ..., 10,  9,  9], dtype=int64))

In [25]:
rf = RandomForestClassifier(n_estimators=200, random_state=0, max_features=4)
rf.fit(x_train,y_train)
p_tr = rf.predict(Xtrain)
print("Score train -- ", round(rf.score(x_train, y_train) * 100, 2), " %")

Score train --  100.0  %

In [26]:
p_test = rf.predict(x_test)
print("Score test -- ", round(rf.score(x_test, y_test) * 100, 2), " %")

Score test --  94.65  %

In [31]:
filename = 'finalized_model.sav'
pickle.dump(rf, open(filename, 'wb'))